<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sections/dave_dice.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>PlinkoDave</title>

</head>
<body>
    <header>
        <h1 class="title" >PlinkoDave</h1>
        <p class="stitle">Bienvenue au PlinkoDave!</p>
            <form id="form-dice">
            </form>
    </header>
    <script>
    </script>

</body>
</html>