<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sections/dave_dice.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>dave_dice</title>

</head>
<body>
    <header>
        <h1 class="title" >Dave's Dice Game</h1>
        <p class="stitle"> Bienvenue au Dave's Dice Game! choisi un nombre en 1 et 6 et regarde si tu gagne!</p>
            <form action="/dice_exe">
                <label class="send_label" for="entreunnombre">Entre un nombre : </label>
                <input class="nombre"type="nombre" name="nombre" id="nombre">
            </form>
    </header>
    
</body>
</html>