<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/Capture_decran_2024-07-03_202119.png') }}" type="image/png">
    <!-- Import Google Fonts Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sections/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <title>🎰Dave's palace🎰</title>
</head>
<body>
     <header>
        <img class="header__jpz" src="{{ url_for('static', filename='css/sections/assets/jpz.png') }}" alt="casino logo"></img>
        <img class="header__casino" src="{{ url_for('static', filename='css/sections/assets/casino.png') }}" alt="">
            <h1 class="dave">Dave's palace</h1>
     </header>
    <form action="/inscription" method="POST">
        <h1 class="info-label"> Inscription à Dave's palace</h1>
        <label class="info-label" for="prénom">Nom d'utilisateur:</label>
        <input class="info" name="prénom" id="prénom">
        <label class="info-label" for="motdepasse">Mot de passe:</label>
        <input class="info" type="password" name="motdepasse" id="motdepasse">
        <button class="send">Envoyer</button>
    </form>
</body>
</html>