<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/assets/Capture_decran_2024-07-03_202119.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>🎰Dave's palace🎰</title>
</head>
<body class="index-page">
  <div class="background-overlay"></div>
  
  <header class="index-header">
    <div class="header__logo">Dave's Palace</div>

    <div class="header__menu">
      <a href="inscription.html">
        <button class="header__button">Inscription</button>
      </a>
      <a href="connexion.html">
        <button class="header__button">Connexion</button>
      </a>
    </div>
    
    <img class="header__jpz" src="../static/css/sections/assets/jpz.png" alt="jpz logo">
    <img class="header__casino" src="../static/css/sections/assets/casino.png" alt="casino logo">
</header>
  <script src="../static/js/davecoin.js"></script>
</body>
</html>